@font-face {
  font-family: 'Sorts Mill Goudy';

  src: url('../fonts/GoudyStM-webfont.eot');
  src: url('../fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoudyStM-webfont.woff') format('woff'), url('../fonts/GoudyStM-webfont.ttf') format('truetype'), url('../fonts/GoudyStM-webfont.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Sorts Mill Goudy Italic';

  src: url('../fonts/GoudyStM-Italic-webfont.eot');
  src: url('../fonts/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/GoudyStM-Italic-webfont.woff') format('woff'), url('../fonts/GoudyStM-Italic-webfont.ttf') format('truetype'), url('../fonts/GoudyStM-Italic-webfont.svg#glyphicons_halflingsregular') format('svg');
}

body {
  font-family: Sorts Mill Goudy, Goudy Old Style, Goudy, Georgia, serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

em {
  font-family: Sorts Mill Goudy Italic;
}

.jumbotron {
  background-color: white;
  margin: 0px;
}

.jumbotron h1 {
  font-size: 48px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.details,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.details {
  margin: 40px 0;
}
.details p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  /* Remove the padding we set earlier */
  .header,
  .details,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .container .jumbotron {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
  }
}

h1 {
  text-align: center;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: .5em;
}
h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}
h4 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
div.nav {
  margin-bottom: 0em;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: justify;
}
div.nav h4 {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: justify;
}
ul {
  padding: 0px;
}
ul li:before {
  margin: 0 0.5em 0 -0.5em;
  content: "+";
}
ul li {
  list-style-type: none;
  margin: 0 0.5em 0 1em;
  /*text-indent: -1.2em;*/
}
dl {
  margin: 0 0 1.5em 0;
}
dl dd {
  margin-left: 1.5em;
}
a {
  color: #111;
  text-decoration: underline;
  outline: none;
  font-weight: medium;
}
a:hover {
  color: #000;
}
hr {
  display: none;
  background-color: black;
}
#header img {
  padding: 0;
  margin: 0;
}
p.lead:first-letter {
  float: left;
  color: #202020;
  font-size: 3em;
  line-height: .9em;
}
.sc {
  font-variant: small-caps;
}
/*.container { background: url(./graduale/lib/img/grid.png); } */
